
.flex-item {
  width: 100%;
  height: 700px;
}

.font-header {
  font-size: 5em;
  font-weight: bold;
  margin-block-start: 100px;
  margin-block-end: 0px;
  font-family:fantasy;
  color:#5C2416;
}

.artist-info {
  font-size: 1.4em;
  font-weight: normal;
  height: 60px;
  margin-block-start: -10px;
  font-family:math;
  color: #5C2416;
}

.art-info {
  font-size: 1.2em;
  font-weight: normal;
  margin-block-start: -40px;
  margin-block-end:0px;
  font-family:math;
  color: #5C2416;
}

.aboutme {
    margin-top:100px;
    cursor: pointer;
    border: 2px solid #0D0003;
    color: white;
    font-size: 19px;
    width: 216px;
    height: 200px;
    border-radius: 25px;
    background-color:inherit;
    padding: 2%;
    font-family:math;
    text-align: center;
}

.portfolio {
    margin-left:10px;
    cursor: pointer;
    border: 2px solid #0D0003;
    color: white;
    font-size: 19px;
    width: 216px;
    height: 200px;
    padding: 2.2%;
    border-radius: 25px;
    background-color:inherit;
    font-family:math;
    text-align: center;
}

.twitter {
    margin-left:10px;
    cursor: pointer;
    border: 2px solid #0D0003;
    color: white;
    font-size: 19px;
    width: 216px;
    height: 200px;
    padding: 2.2%;
    border-radius: 25px;
    background-color:inherit;
    font-family:math;
    text-align: center;
}

.flex-container-2 {
    margin-left:300px;
    margin-right: 300px;
    text-align: center;
}

.flex-container-3 {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex-item-3 {
  width: 400px;
  height: 60%;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-container-4 {
    padding-bottom:200px;
    padding-top:200px;
    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 200px;
    height: 500px;
    font-family: Monaco;
    font-size: 20px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .flex-container {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        align: center;
        margin-top: 40px;
    }

    .flex-item {
      width: 400px;
      height: 380px;
      color: white;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
    }

    .img-top {
        margin-left: 10%;
         margin-right: 10%;
    }

    .font-header {
      margin-block-start: 20px;
      margin-block-end: 0px;
      margin-left: 12%;
    }

    .artist-info {
      height: 100px;
      margin-block-start: -70px;
      margin-block-end: 10px;
       margin-left: 12%;
    }

    .art-info {
        height:100px;
        margin-block-start: -40px;
        margin-block-end:-60px;
        font-size: 0.35em;
         margin-left: 12%;
    }

    .aboutme{
     margin-left: 12%;
     }


    .flex-container-2 {
        padding-left: 50px;
        padding-right: 50px;
        margin-left: 0px;
        margin-right:0px;
        margin-bottom: 40%;
        height: auto;
        width: 100%;
        padding-top: 50px;
        font-size: 17px;
        color: white;
        text-align: center;
    }

    .flex-container-3 {
      display: flex;
      flex-flow: column;
      justify-content: space-evenly;
      padding-top: 50px;
      padding-left: 0px;
      margin-left: 15%;
      margin-right:15%;
      width: 100%;
    }

    .flex-item-3 {
      height: 40%;
    }

    .flex-container-4 {
        padding-bottom:20px;
        padding-top:10px;
        margin-left:50px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 100%;
        width: 100%;
        font-size: 17px;
        color: white;
        text-align: center;
    }

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

a {
  color: black;
  font-weight: bold;
}


.spacer {
  flex: 1;
}
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #E8D29E;
}

.title_fallen {
  color: #5C2416;
  font-weight: bold;
  font-size: 30px;
  margin-left : 50px;
  font-family: cursive;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  padding-right : 30px;
  height: 40px;
  margin: 0 8px;
}


.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #E8D29E;
  color: white;
  text-align: center;
}

.twitter-txt {
 color: brown;
 font-weight:bold;
 text-align: center;
 padding-left : 600px;

}