.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: #E8D29E;
}

.spacer {
  flex: 1;
}

.project_toolbar {
  padding-left: 900px;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}

.artist_toolbar {
  padding-left: 50px;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
}
.title_fallen {
  color: #5C2416;
  font-weight: bold;
  font-size: 30px;
  margin-left : 50px;
  font-family: fantasy;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  padding-right : 30px;
  height: 40px;
  margin: 0 8px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.flex-item {
  padding-top: 80px;
  width: auto;
  height: auto;
}


.font-header {
  font-size: 5em;
  font-weight: bold;
  margin-block-start: 100px;
  margin-block-end: 0px;
  font-family:fantasy;
  color:#5C2416;
}

.artist-info {
  font-size: 1.4em;
  font-weight: normal;
  height: 60px;
  margin-block-start: -10px;
  font-family:math;
  color: #5C2416;
}

.art-info {
  font-size: 1.2em;
  font-weight: normal;
  margin-block-start: -40px;
  margin-block-end:0px;
  font-family:math;
  color: #5C2416;
}

.aboutme {
    margin-top:100px;
    cursor: pointer;
    border: 2px solid #0D0003;
    color: white;
    font-size: 19px;
    width: 216px;
    height: 200px;
    border-radius: 25px;
    background-color:inherit;
    padding: 2%;
    font-family:math;
    text-align: center;
}

.portfolio {
    margin-left:10px;
    cursor: pointer;
    border: 2px solid #0D0003;
    color: white;
    font-size: 19px;
    width: 216px;
    height: 200px;
    padding: 2.2%;
    border-radius: 25px;
    background-color:inherit;
    font-family:math;
    text-align: center;
}

.twitter {
    margin-left:10px;
    cursor: pointer;
    border: 2px solid #0D0003;
    color: white;
    font-size: 19px;
    width: 216px;
    height: 200px;
    padding: 2.2%;
    border-radius: 25px;
    background-color:inherit;
    font-family:math;
    text-align: center;
}

.flex-container-2 {
    margin-left:300px;
    margin-right: 300px;
    text-align: center;
}

.flex-container-3 {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.flex-item-3 {
  width: 300px;
  height: 60%;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.flex-container-4 {
    padding-bottom:200px;
    padding-top:200px;
    margin-left:300px;
    margin-right: 300px;
    margin-bottom: 200px;
    height: 500px;
    font-family: Monaco;
    font-size: 20px;
    color: white;
    text-align: center;
}

@media only screen and (max-width: 768px) {

    .flex-container {
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        align: center;
        margin-top: 40px;
    }

    .aboutme{
     margin-left: 12%;
     }

    .flex-container-4 {
        padding-bottom:20px;
        padding-top:10px;
        margin-left:50px;
        margin-right: 20px;
        margin-bottom: 20px;
        height: 100%;
        width: 100%;
        font-size: 17px;
        color: white;
        text-align: center;
    }

}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

a {
  color: black;
  font-weight: bold;
}

.footer {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #E8D29E;
  color: white;
  text-align: center;
}

.twitter-txt {
 color: brown;
 font-weight:bold;
 text-align: center;
 padding-left : 600px;
}


.project-info {
  margin-left:300px;
  margin-right: 300px;
  padding-top :150px;
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  height: 60px;
  margin-block-start: -10px;
  font-family: fantasy;
  color: #5C2416;
  padding-bottom:500px;
}

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  list-style: none;
}

.artist-flex-item {
  padding-top: 105px;
  width: 500px;
  height: 500px;
  padding-bottom: 30px;
}
.artist-page-info {
  padding-top: 140px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  font-family: fantasy;
  color: #5C2416;
}

@media only screen and (max-width: 768px) {
    .toolbar {
      height: 60px;
    }
  .project_toolbar {
    padding-left: 50%;
    font-size: 15px;
  }

  .artist_toolbar {
    padding-left: 15px;
    font-size: 15px;
  }
  .toolbar #twitter-logo {
    padding-right : 2%;
    height: 40px;
    margin: 0 8px;
  }

    .flex-item {
    padding-top:60px;
      width: 375px;
      height: auto;
    }
    .footer {
      height: 100px;
      display: flex;
      align-items: center;
      background-color: #E8D29E;
      color: white;
      text-align: center;
    }

    .twitter-txt {
     padding-left : 75px;
    }

    .font-header {
      font-size: 1.8em;
      margin-block-start: 30px;
      margin-block-end: 0px;
    }

    .flex-container-2 {
        margin-left: 100px;
        margin-right: 100px;
        text-align: center;
    }

    .artist-info {
      font-size: 0.9em;
      margin-block-start: 5px;
    }

    .art-info {
      font-size: 0.8em;
      margin-block-start: -10px;
      margin-block-end:0px;
    }

    .flex-item-3 {
      height: 100%;
    }

    .flex-container-3 {
      flex-flow: column;
      justify-content: space-evenly;
      padding-left: 40px;
      padding-right: 40px;
      padding-top:50px;
      padding-bottom: 50px;
    }

    .title_fallen {
      font-size: 18px;
      margin-left : 18px;
      font-family: fantasy;
    }
}
