@import url('https://fonts.googleapis.com/css?family=MedievalSharp&display=swap');

.details {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-left: 100px;
    margin-top: 80px;
    padding-top: 150px;
    text-align:center;
    font-align: center;
}

.details-item {
      padding-left: 80px;
      font-size: 30px;
      height: 10%;
      width: 80%;
      color: maroon;
      font-weight: bold;
      font-family: MedievalSharp;
}

.details-price {
  margin-top: 30px;
  padding-left: 80px;
  font-size: 30px;
  height: 10%;
  width: 80%;
  color: maroon;
  font-weight: bold;
  font-family: MedievalSharp;
}

.details-item-2 {
  margin-top: 300px;
  padding-left: 80px;
  font-size: 30px;
  height: 10%;
  width: 80%;
  color: #38593c;
  font-weight: bold;
  font-family: MedievalSharp;
}

.details-item-3 {
  margin-top: 300px;
  padding-left: 80px;
  font-size: 30px;
  height: 10%;
  width: 80%;
  color: red;
  font-weight: bold;
  font-family: MedievalSharp;
}

.mint-button {
    margin-top : 200px;
    margin-left: 40%;
    cursor: pointer;
    border: 4px solid #fff;
    color: white;
    font-size: 18px;
    width: 176px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:inherit;
    font-family: MedievalSharp;
    text-align: center;
}

.connect-wallet-button {
    margin-top : 200px;
    margin-left: 40%;
    cursor: pointer;
    border: 4px solid #fff;
    color: white;
    font-size: 18px;
    width: 176px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:inherit;
    font-family: MedievalSharp;
    text-align: center;
}


.mint-bg {
 position:absolute;
 height:100%;
 width: 100%;
 }


@media only screen and (max-width: 768px) {

  .connect-wallet-button {
      margin-top: 15px;
      margin-left: 75%;
      font-size: 10px;
      width: 20%;
  }

  .mint-bg {
   margin-top : -20px;
   width: 100%;
   height: 100%;
  }

  .details {
      margin-left: 50px;
      margin-top: 80px;
      padding-top: 120px;
      text-align:center;
      font-align: center;
  }

  .details-item {
    padding-left: 20px;
    font-size: 23px;
  }
  .details-price {
    padding-left: 20px;
    font-size: 23px;
  }

  .details-item-2 {
    padding-left: 20px;
    font-size: 25px;
  }

  .details-item-3 {
    padding-left: 20px;
    font-size: 23px;
   }

  .connect-wallet-button {
      margin-top : 70px;
      margin-left: 22%;
      font-size: 18px;
      width: 176px;
  }

    .mint-button {
      margin-top : 70px;
      margin-left: 22%;
      font-size: 18px;
      width: 176px;
    }
}