.App {
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  padding-top:10px;
  padding-bottom: 15px;
  background-color: #282836;
  box-shadow: 0px 5px 10px rgba(40, 40, 54, 0.25);

}

.header_wrapper {
 margin-left:400px;
 margin-right:100px;
  display: flex;
  flex-wrap: wrap;
  align-items: justify;
  justify-content: space-between;
  padding-top: 15px;
  background-color: #282836;
}

.header_link {
    color: white;
    text-decoration: none;
    font-family: "";
    font-weight: 900;
}

.header_item {
    padding-left:50px;
    padding-right:50px;
    align: center;
}
.button {
    background: #8B90FF;
        border: 0;
        border-radius: 4px;
        padding: 8px 12px;
        width: 115px;
        height: 36px;
        font-family: 'WorkSans-SemiBold';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        font-feature-settings: 'liga' off;
        color: #F9FEFD;
}

.intro {
    padding-top: 200px;
    max-width: 1440px;
    height: 512px;
}

body {
  /* background-color: #48946a; */
  margin: 0 auto;
  background-color: #214B18;
  /* background-color: #3a891d; */
  background-image: url(https://nftstorage.link/ipfs/bafybeics4slcijqc4vqpdkiuosrq4voeupjd2soe2q6oswtusddbffi6xa);
  background-repeat: no-repeat;
  background-position: top center;
  color: black;
  webkit-background-size: 100%;
  moz-background-size: 100%;
  o-background-size: 100%;
  background-size: 100%;
}